<%= form_for [:admin, @form], html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Keep it clean...", required: true  %>
      </div>

      <div class="form-group">
        <%= f.label :label, "Label ID" %>
        <%= f.number_field :label, class: "form-control", required: true  %>
      </div>

      <div class="form-group">
        <%= f.label :user_id, "Setter" %>
        <%= f.select :user_id, @setters.collect {|p| [ p.name, p.id ] }, {}, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :grade %>
        <%= f.select :grade, Route.grades.keys, { include_blank: true }, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :location %>
        <%= f.select :location, Route.locations.keys, { include_blank: true }, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :route_set_date, "Date Set" %>
        <%= f.date_field :route_set_date, class: "form-control", required: true, value: @form.route_set_date %>
      </div>

      <!--
        NOTE: consider making a migration to change 'tape_color' to 'color' in the db. since some
        gyms may not use tape, but just the holds themselves.
      -->
      <div class="form-group">
        <%= f.label :tape_color, "Color" %>
        <%= f.text_field :tape_color, class: "form-control", placeholder: "Red, Blue, etc...", required: true  %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control description-box", rows: 3, placeholder: "Tell us a little about it!", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :image_1 %>
        <%= f.file_field :image_1, class: "form-control" %>
        <% if @form.image_1.present? %>
          <br>
          <%= image_tag @form.image_1.url, class: "img-responsive" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :image_2 %>
        <%= f.file_field :image_2, class: "form-control" %>
        <% if @form.image_2.present? %>
          <br>
          <%= image_tag @form.image_2.url, class: "img-responsive" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
