<h1>Routes</h1>

<div class="row">
  <div class="col-xs-8">
    <%= form_tag admin_routes_path, method: :get, class: "form-inline pull-left" do %>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <%= text_field_tag "search", params[:search], class: "form-control",
          placeholder: "Search routes" %>
      </div>
    <% end %>
  </div>

  <% if policy(Route).new? %>
    <div class="col-xs-4">
      <%= link_to "New route", new_admin_route_path,
        class: "btn btn-success pull-right" %>
    </div>
  <% end %>
</div>

<br>

<div class="table-responsive">
  <table class="table">
    <thead>
      <%= sortable_header "name", "Name" %>
      <%= sortable_header "label", "Label" %>
      <%= sortable_header "users.first_name", "Setter" %>
      <%= sortable_header "location" %>
      <%= sortable_header "tape_color", "Color" %>
      <%= sortable_header "route_set_date", "Set Date" %>
      <%= sortable_header "expiration_date" %>
      <%= sortable_header "grade" %>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= link_to highlight(route.name, params[:search]), admin_route_path(route) %></td>
          <td><%= highlight route.label.to_s, params[:search] %></td>
          <td><%= link_to highlight(route.user.name, params[:search]), admin_user_path(route.user) %></td>
          <td><%= highlight route.location, params[:search] %></td>
          <td><%= highlight route.tape_color, params[:search] %></td>
          <td><%= route.route_set_date.strftime("%b %d, %Y") %></td>
          <td><%= route.expiration_date.strftime("%b %d, %Y") %></td>
          <td><%= route.grade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @routes %>
