<h1><%= @route.name %>
  <div class="pull-right">
    <% if policy(@request).new? %>
      <%= link_to "Maintenance", new_admin_maintenance_request_path(:route_id => @route.id), { :class => "btn btn-warning"} %>
    <% end %>
    <% if policy(@route).edit? %>
      <%= link_to "Edit", edit_admin_route_path(@route), { :class => "btn btn-primary" } %>
    <% end %>
    <% if policy(@route).destroy? %>
      <%= link_to "Disable", admin_route_path(@route), class: "btn btn-danger", method: :delete, data: { :confirm => "Are you sure you'd like to disable route \""+@route.name+"\"?" } %>
    <% end %>
  </div>
</h1>

<div class="row">

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Route Info</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th><label for="route_setter">Setter</label></th>
            <td><%= @route.user.name %></td>
          </tr>
          <tr>
            <th><label for="route_label">Label</label></th>
            <td><%= @route.label %></td>
          </tr>
          <tr>
            <th><label for="route_grade">Grade</label></th>
            <td><%= @route.grade %></td>
          </tr>
          <tr>
            <th><label for="route_tape_color">Tape Color</label></th>
            <td><%= @route.tape_color %></td>
          </tr>
          <tr>
            <th><label for="route_location">Location</label></th>
            <td><%= @route.location %></td>
          </tr>
          <tr>
            <th><label for="route_set_date">Set Date</label></th>
            <td><%= @route.route_set_date.strftime("%b %d, %Y") %></td>
          </tr>
          <tr>
            <th><label for="route_expiration_date">Expiration Date</label></th>
            <td><%= @route.expiration_date.strftime("%b %d, %Y") %></td>
          </tr>
          <tr>
            <th><label for="rating">Overall Rating</label></th>
            <td>
              <% if @rating == 0 %>
                <i>not yet rated</i>
              <% else %>
                <select id="route_show_rating" data-rating="<%= @rating %>">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <% if @route.description %>
                <%= @route.description %>
              <% else %>
                <i>No description provided</i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-8">
    <%= image_tag @route.image_1.url, class: "col-sm-6 img-responsive" %>
    <%= image_tag @route.image_2.url, class: "col-sm-6 img-responsive" %>
  </div>

</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <% if user_signed_in? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rate it!</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <div class="col-sm-6">
              <select id="route_set_rating" data-rating="<%= @user_rating == nil ? 1 : @user_rating.rating %>">
                <option value="1"><%= @route.id %></option>
                <option value="2"><%= @route.id %></option>
                <option value="3"><%= @route.id %></option>
                <option value="4"><%= @route.id %></option>
                <option value="5"><%= @route.id %></option>
              </select>
            </div>
            <div class="col-sm-6">
              <div id="rating_description"><i><%= @user_rating == nil ? "not yet rated" : "your rating" %></i></div>
            </div>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="list-group">
        <div class="list-group-item">
            <p class="list-group-item-text">
              <%= form_for([@route, @comment], method: "post") do |f| %>
                <%= f.text_area :comment, cols: 40, rows: 3, placeholder: "Leave a comment", class: "form-control comment-box" %>
                <input type="submit" name="submit" id="comment_submit" value="Submit" class="btn btn-primary comment-submit" disabled="true">
              <% end %>
            </p>
          </div>
          <% @comments.each do |comment| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                <%= comment.user.name %>
                <small>
                  <%= comment.created_at.strftime("%I:%M %p - %b %d, %Y") %>
                </small>
              </h4>
              <p class="list-group-item-text">
              <%= comment.comment %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
