<header>
  <h1 style="display:inline-block;">Maintenance Requests</h1>
</header>

<table class="table" id="maintenance_requests_list">
  <thead>
    <th><%= sortable "routes.name", "Route" %></th>
    <th><%= sortable "users.first_name", "Reporter" %></th>
    <th><%= sortable "issue" %></th>
    <th><%= sortable "reason" %></th>
    <th><%= sortable "priority" %></th>
    <th><%= sortable "created_at", "Date" %></th>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr class="table__row" data-url="<%= maintenance_request_path(request.id) %>">
        <td id=""><%= request.route.name %></td>
        <td><%= request.user.name %></td>
        <td><%= request.issue %></td>
        <td><%= request.reason %></td>
        <td><%= request.priority %></td>
        <td><%= request.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
