<%= render "flash" %>
<div class="col-sm-8 col-sm-offset-2">
    <h1>
      Complete Assigned Route
      <% if policy(@route).destroy? %>
        <%= link_to "Remove Assignment", assigned_route_path(@route.id), class: "btn btn-danger pull-right", method: :delete, data: { :confirm => "Are you sure you'd like to remove this assignment?" } %>
      <% end %>
    </h1>
</div>
<div class="col-sm-8 col-sm-offset-1">
  <dl class="dl-horizontal">
    <dt>Setter</dt>
    <dd><%= @route.user.name %></dd>
    <dt>Grade</dt>
    <dd><%= @route.grade %></dd>
    <dt>Location</dt>
    <dd><%= @route.location %></dd>
  </dl>
</div>

<%= form_for @route, :url => url_for(:controller => 'assigned_routes', :action => 'update', :params => {id: @route.id}) do |f| %>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Keep it clean...", required: true  %>
          </div>
          <div class="form-group">
            <%= f.label :label, "Id" %>
            <%= f.number_field :label, class: "form-control", placeholder: "", required: true  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :route_set_date, "Date Set" %>
            <%= f.date_field :route_set_date, class: "form-control", placeholder: "YYYY-MM-DD", required: true  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :tape_color, "Color" %>
            <%= f.text_field :tape_color, class: "form-control", placeholder: "Red, Blue, etc...", required: true  %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :image_1, "Image #1" %>
            <%= f.file_field :image_1, class: 'form-control', required: true  %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :image_2, "Image #2" %>
            <%= f.file_field :image_2, class: 'form-control', required: true  %>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="form-group">
        <%= f.submit :submit, :value => "Complete Route", :class => "btn btn-success pull-right" %>
      </div>
    </div>
  </div>
<% end %>
