<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div>
  		<h1>Assign Routes
				<% if policy(@assigned_route).create? %>
					<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#assignModal">
		      	Assign New Route
		    	</button>
				<% end %></h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= bar_chart @chart1, stacked: true %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= bar_chart @chart2, stacked: true %>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div align="center">
			<h4>Currently Assigned Routes</h4>
		</div>
    <table class="table table-striped">
			<tbody>
				<tr>
	        <th>
	          Setter
	        </th>
	        <th>
	          Gym
	        </th>
	        <th>
	          Grade
	        </th>
					<th>
						Date Assigned
					</th>
	      </tr>
	      <% @routes.each do |route| %>
	        <tr class="table__row" data-url="<%= edit_assigned_route_path(route.id) %>">
						<td>
							<!-- <%= link_to route.user.name, user_path(route.user.id) %> -->
							<%= route.user.name %>
						</td>
	          <td>
	            <%= route.location %>
	          </td>
						<td>
							<%= route.grade %>
						</td>
						<td>
							<%= route.created_at.strftime("%b %d, %Y") %>
						</td>
	        </tr>
	      <% end %>
			</tbody>
    </table>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-5">
  </div>
</div>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assign Route</h4>
      </div>
      <div class="modal-body">
				<%= form_tag("/assigned_routes", method: "post") do %>
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<%= label_tag :location, "Location" %>
						    <%= select_tag "location", options_for_select(@locations), :class => "form-control" %>
						  </div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
						    <%= label_tag :grade, "Grade" %>
								<%= select_tag "grade", options_for_select(@grades), :class => "form-control" %>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
						    <%= label_tag :user_id, "Setter" %>
						    <%= select_tag "user_id", options_from_collection_for_select(@setters, "id", "name"), :class => "form-control" %>
						  </div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
							<div class="checkbox">
						    <label>
									<%= check_box_tag 'notify_email', 'yes', true %> Notify with Email
						    </label>
						  </div>
						</div>
					</div>
					<%= submit_tag "Assign Route", :class => "btn btn-success pull-right" %>
				<% end %>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
