<h1>Users</h1>

<div class="row">
  <%= form_tag users_path, method: "get", class: "form-inline col-xs-6" do %>
    <div class="input-group pull-left">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <%= text_field_tag "search", params[:search], class: "form-control", placeholder: "Search users" %>
    </div>
  <% end %>
</div>

<br>

<div class="table-responsive">
  <table class="table">
    <thead>
      <%= sortable_header "first_name", "Name" %>
      <%= sortable_header "email", "Email"  %>
      <%= sortable_header "role", "Role" %>
      <%= sortable_header "routes_count", "Routes Count" %>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to highlight(user.name, params[:search]), user %></td>
          <td><%= highlight user.email, params[:search] %></td>
          <td><%= user.role %></td>
          <td><%= user.routes_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

