<header>
  <h1 style="display:inline-block;">Users</h1>
  <div class="pull-right" style="margin-top: 20px;">
    <%= form_tag users_path, method: "get",
      class: "form-inline",
      style: "display:inline-block;" do %>

      <%= text_field_tag "search", params[:search], class: "form-control", autofocus: true %>
      <%= submit_tag "Search", class: "btn btn-primary" %>

    <% end %>
  </div>
</header>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th><%= sortable "first_name", "Name" %></th>
      <th><%= sortable "email", "Email"  %></th>
      <th><%= sortable "role", "Role" %></th>
      <th><%= sortable "routes_count", "Routes Count" %></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to highlight(user.name, params[:search]), user %></td>
          <td><%= highlight user.email, params[:search] %></td>
          <td><%= user.role %></td>
          <td><%= user.routes_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

