<div class="col-lg-6 col-md-6 col-sm-6">

  <h1>View Profile
    <div class="pull-right">
      <% if policy(@user).edit? %>
        <%= link_to "Edit", edit_user_path(@user), { :class => "btn btn-primary" } %>
      <% end %>
    </div>
  </h1>

  <table class="table">
    <tbody>
      <tr>
        <th><label for="user_email">Email</label></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><label for="user_fname">First Name</label></th>
        <td><%= @user.fname %></td>
      </tr>
      <tr>
        <th><label for="user_lname">Last Name</label></th>
        <td><%= @user.lname %></td>
      </tr>
      <tr>
        <th><label for="user_level">Profile Level</label></th>
        <td><%= @user.user_level %></td>
      </tr>
    </tbody>
  </table>

  <h3>Assigned Routes</h3>
  <table class="table">
    <tbody>
      <tr>
        <th>Gym</th>
        <th>Grade</th>
        <th>Date Assigned</th>
      </tr>
      <% @assigned_routes.each do |route| %>
        <tr>
          <td><%= route.gym %></td>
          <td><%= route.grade %></td>
          <td><%= route.created_at.strftime("%b %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
