
<header id="carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class=""></li>
		<li data-target="#carousel" data-slide-to="1" class="active"></li>
		<li data-target="#carousel" data-slide-to="2" class=""></li>
		<li data-target="#carousel" data-slide-to="3" class=""></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item">
      <%= image_tag "carousel-4.png", class: "fill" %>
		</div>
		<div class="item active">
      <%= image_tag "carousel-5.png", class: "fill" %>
		</div>
		<div class="item">
      <%= image_tag "carousel-3.png", class: "fill" %>
		</div>
		<div class="item">
      <%= image_tag "carousel-6.png", class: "fill" %>
		</div>
	</div>
</header>

<h1>Oregon State Indoor Climbing Center</h1>

<div class="row">
  <div class="col-md-4">
    <h3>Announcements</h3>
    <% @announcements.each do |announcement| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= announcement.subject %>
            <small><%= announcement.reveal_date.strftime("%b %d, %Y") %></small>
          </h4>
          <%= announcement.body %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Top Routes</h3>
		<ul class="list-group">
			<% @top_routes.each do |route| %>
				<li class="list-group-item">
					<%= link_to truncate(route.name, length: 25), route %>
					<div class="pull-right">
						<select class="top_routes_rating" data-rating="<%= route.rating %>">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</li>
			<% end %>
		</ul>
  </div>

  <div class="col-md-4">
    <h3>Newest Routes</h3>
		<ul class="list-group">
			<% @newest_routes.each do |route| %>
				<li class="list-group-item">
					<%= link_to truncate(route.name, length: 25), route %>
					<div class="pull-right">
						<%= route.created_at.strftime("%b %d, %Y") %>
					</div>
				</li>
			<% end %>
		</ul>
  </div>
</div>
