<header>
  <h1 style="display:inline-block;">Announcements</h1>
  <% if policy(@announcements).new? %>
    <div class="pull-right" style="margin-top: 20px;">
      <%= link_to "New Announcement", new_admin_announcement_path, class: "btn btn-success" %>
    </div>
  <% end %>
</header>
<% @announcements.each do |a| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <b><%= a.subject %></b>
        <div class="pull-right">
          <small>Created: <%= a.created_at.strftime("%b %d, %Y") %>, by <%= a.user.name %></small>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="text-left">
        <%= a.body %>
      </div>
      <br>
      <!-- Displays date related information about announcement -->
      <div class="row" style="display: flex;">
        <div class="col-xs-6 text-left">
          <!-- Show date announcement will be revealed if greater than today's date -->
          <% if a.reveal_date > Date.today %>
            <div>
              <small>Reveals: <%= a.reveal_date.strftime("%b %d, %Y") %></small>
            </div>
          <% end %>
          <!-- Show date updated if announcement has ever been updated -->
          <% if a.updated_at != a.created_at%>
            <div>
              <small>Updated: <%= a.updated_at.strftime("%b %d, %Y") %></small>
            </div>
          <% end %>
          <!-- Expiration date -->
          <div>
            <small>Expires: <%= a.expires_at.strftime("%b %d, %Y") %></small>
          </div>
        </div>
        <!-- Edit -->
        <% if policy(@announcements).edit? %>
          <div class="col-xs-6 text-right">
            <div class="announcement-edit">
                <%= link_to "Edit", edit_admin_announcement_path(a.id), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
