<div class="col-sm-8 col-sm-offset-2">
  <h1>Complete Assigned Route</h1>

  <%= form_errors_for @form %>

  <%= form_for [:admin, @form] do |f| %>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :user_id, "Setter" %>
          <%= f.select :user_id, User.setters.collect {|p| [ p.name, p.id ] }, {},
            class: "form-control", disabled: true %>
        </div>
        <div class="form-group">
          <%= f.label :grade %>
          <%= f.text_field :grade, class: "form-control", disabled: true  %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control", disabled: true  %>
        </div>
        <div class="form-group">
          <%= f.label :route_set_date, "Set At" %>
          <%= f.date_field :route_set_date, class: "form-control", required: true,
            value: @form.route_set_date  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Keep it clean...",
            required: true  %>
        </div>
        <div class="form-group">
          <%= f.label :label, "Label ID" %>
          <%= f.number_field :label, class: "form-control", required: true  %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :tape_color, "Color" %>
          <%= f.text_field :tape_color, class: "form-control",
            placeholder: "Red, Blue, etc...", required: true  %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control description-box", rows: 3,
            placeholder: "Tell us a little about it!", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :image_1, "Image #1" %>
          <%= f.file_field :image_1, class: 'form-control'  %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :image_2, "Image #2" %>
          <%= f.file_field :image_2, class: 'form-control'  %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.submit :submit, value: "Complete Route", class: "btn btn-success" %>

      <% if policy(@form).destroy? %>
        <%= link_to "Remove Assignment", admin_assigned_route_path(@form),
          class: "btn btn-danger", method: :delete,
          data: { confirm: "Are you sure you'd like to remove this assignment?" }
        %>
      <% end %>
    </div>

  <% end %>
</div>
