<div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
  <div class="page-header">
    <h1>Edit Existing Route</h1>
  </div>
</div>
<!-- <form id="registerForm" method="POST" > -->
<%= form_for @route do |f| %>
  <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= f.label :name %>
          <div class="input-group">
            <%= f.text_field :name, :class => "form-control", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-triangle-left"></span></span>
          </div>
          <br>
          <%= f.label :label, "ID" %>
          <div class="input-group">
            <%= f.number_field :label, :class => "form-control", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= f.label :user_id, "Setter" %>
          <div class="input-group">
            <%= f.select :user_id, options_from_collection_for_select(@setters, "id", "name", @route.user_id), {}, {:class => "form-control"} %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-triangle-left"></span></span>
          </div>
          <br>
          <%= f.label :grade %>
          <div class="input-group">
            <%= f.select :grade, options_for_select(@grades, @route.grade), {}, {:class => "form-control"} %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= f.label :location %>
          <div class="input-group">
            <%= f.select :location, options_for_select(@locations, @route.location), {}, {:class => "form-control"} %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
          <%= f.label :route_set_date%>
          <div class="input-group">
            <%= f.text_field :route_set_date, :class => "form-control", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- NOTE: consider making a migration to change 'tape_color' to 'color' in the db. since some
               gyms may not use tape, but just the holds themselves. -->
          <%= f.label :tape_color, "Color" %>
          <div class="input-group">
            <%= f.text_field :tape_color, :class => "form-control", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br><br>
        </div>
      </div>

      <!-- @TODO: We still aren't handling images yet, once we are we should preview them and allow them to change.  -->
      <!-- <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :image_1, "Image #1" %>
          <div class="input-group">
            <%= file_field_tag 'image_1', :class => 'form-control', :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :image_2, "Image #2" %>
          <div class="input-group">
            <%= file_field_tag 'image_2', :class => 'form-control', :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
          </div>
          <br>
        </div>
      </div> -->

    </div>
    <div class="row">
      <div class="form-group">
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success pull-right">
      </div>
    </div>
  </div>
<% end %>
<!-- </form> -->
