<h1>Routes</h1>

<div class="row">
  <%= form_tag routes_path, method: "get", class: "form-inline col-xs-6" do %>
    <div class="input-group pull-left">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <%= text_field_tag "search", params[:search], class: "form-control", placeholder: "Search routes" %>
    </div>
  <% end %>

  <% if policy(Route.new).new? %>
    <div class="col-xs-3 pull-right">
      <%= link_to "New route", new_route_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<br>


<div class="table-responsive">
  <table class="table">
    <thead>
      <%= sortable_header "name", "Name" %>
      <%= sortable_header "label", "Label" %>
      <%= sortable_header "users.first_name", "Setter" %>
      <%= sortable_header "location" %>
      <%= sortable_header "tape_color", "Color" %>
      <%= sortable_header "route_set_date", "Set Date" %>
      <%= sortable_header "expiration_date" %>
      <%= sortable_header "grade" %>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= link_to highlight(route.name, params[:search]), route %></td>
          <td><%= highlight route.label.to_s, params[:search] %></td>
          <td><%= link_to highlight(route.user.name, params[:search]), route.user %></td>
          <td><%= highlight route.location, params[:search] %></td>
          <td><%= highlight route.tape_color, params[:search] %></td>
          <td><%= route.route_set_date.strftime("%b %d, %Y") %></td>
          <td><%= route.expiration_date.strftime("%b %d, %Y") %></td>
          <td><%= route.grade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
