<header>
  <h1 style="display:inline-block;">Routes</h1>

  <div class="pull-right" style="margin-top: 20px;">
    <%= form_tag routes_path, method: "get",
      class: "form-inline",
      style: "display:inline-block;" do %>
      <%= text_field_tag "search", params[:search], class: "form-control", autofocus: true %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <% if policy(Route.new).new? %>
      <%= link_to "New route", new_route_path, class: "btn btn-success" %>
    <% end %>
  </div>
</header>

<table class="table">
  <thead>
    <th><%= sortable "name", "Name" %></th>
    <th><%= sortable "users.first_name", "Setter" %></th>
    <th><%= sortable "location" %></th>
    <th><%= sortable "tape_color", "Color" %></th>
    <th><%= sortable "route_set_date", "Set Date" %></th>
    <th><%= sortable "expiration_date" %></th>
    <th><%= sortable "grade" %></th>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
      <tr class="table__row" data-url="<%= route_path(route.id) %>">
        <td><%= highlight route.name, params[:search] %></td>
        <td><%= highlight route.user.name, params[:search] %></td>
        <td><%= highlight route.location, params[:search] %></td>
        <td><%= highlight route.tape_color, params[:search] %></td>
        <td><%= route.route_set_date.strftime("%b %d, %Y") %></td>
        <td><%= route.expiration_date.strftime("%b %d, %Y") %></td>
        <td><%= route.grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>
