<div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
  <div class="page-header">
    <h1>Add New Route</h1>
  </div>
</div>
<!-- <form id="registerForm" method="POST" > -->
<%= form_tag("/routes", method: "post") do %>
  <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :name, "Route Name" %>
          <div class="input-group">
            <%= text_field_tag "name", nil, :class => "form-control", :required => true, :placeholder => "Keep it clean...", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-triangle-left"></span></span>
          </div>
          <br>
          <!-- <label for="InputName">ID</label> -->
          <%= label_tag :label, "ID" %>
          <div class="input-group">
            <!-- <input type="text" class="form-control" name="username" placeholder="Enter Username" required> -->
            <%= number_field_tag "label", nil, :class => "form-control", :required => true, :placeholder => "", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :user_id, "Setter" %>
          <div class="input-group">
            <%= select_tag "user_id", options_from_collection_for_select(@setters, "id", "name"), :class => "form-control", :required => true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-triangle-left"></span></span>
          </div>
          <br>
          <%= label_tag :grade, "Grade" %>
          <div class="input-group">
            <%= select_tag "grade", options_for_select(@grades), :class => "form-control", :required => true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :location, "Location" %>
          <div class="input-group">
            <%= select_tag "location", options_for_select(@locations), :class => "form-control", :required => true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br>
          <%= label_tag :route_set_date, "Date Set" %>
          <div class="input-group">
            <%= text_field_tag "route_set_date", nil, :class => "form-control", :required => true, :placeholder => "YYYY-MM-DD", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- NOTE: consider making a migration to change 'tape_color' to 'color' in the db. since some
               gyms may not use tape, but just the holds themselves. -->
          <%= label_tag :tape_color, "Color" %>
          <div class="input-group">
            <%= text_field_tag "tape_color", nil, :class => "form-control", :required => true, :placeholder => "Red, Blue, etc...", :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :image_1, "Image #1" %>
          <div class="input-group">
            <%= file_field_tag 'image_1', :class => 'form-control', :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
          </div>
          <br>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <%= label_tag :image_2, "Image #2" %>
          <div class="input-group">
            <%= file_field_tag 'image_2', :class => 'form-control', :required => true  %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success pull-right">
      </div>
    </div>
  </div>
<% end %>
<!-- </form> -->
