<div class="col-sm-8 col-sm-offset-2">

  <h1>
    <%= @user.first_name %> <%= @user.last_name %>
    <div class="pull-right">
      <% if policy(@user).edit? %>
        <%= link_to "Edit", edit_admin_user_path(@user), { :class => "btn btn-primary" } %>
      <% end %>
    </div>
  </h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th><label for="user_first_name">First Name</label></th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th><label for="user_last_name">Last Name</label></th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th><label for="user_email">Email</label></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th><label for="user_role">Role</label></th>
          <td><%= @user.role %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Assigned Routes</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>
            Location
          </th>
          <th>
            Grade
          </th>
          <th>
            Date Assigned
          </th>
        </tr>
        <% @assigned_routes.each do |route| %>
          <tr>
            <td>
              <%= route.location %>
            </td>
            <td>
              <%= route.grade %>
            </td>
            <td>
              <%= route.created_at.strftime("%b %d, %Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
