<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Protoscend</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav-target">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          <%= link_to admin_root_path, class: "navbar-brand" do %>
            <img alt="Copyright 2015 © imglop.com" src="/logo.png">
            Protoscend
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="collapse-nav-target">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Records <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Users", admin_users_path %></li>
                  <li><%= link_to "Routes", admin_routes_path %></li>
                  <li><%= link_to "Announcements", admin_announcements_path %></li>
                  <li><%= link_to "Maintenance", admin_maintenance_requests_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Reports <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Assigned Routes", admin_assigned_routes_path %></li>
                  <li><%= link_to "Expiring Routes", admin_expiring_routes_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Go to Public Site", root_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
